<div class="d-flex flex-column h-100">
    <div class="p-3 border-bottom d-flex align-items-center">
        <a href="/profile/<%= otherUser.username %>" class="text-decoration-none text-dark d-flex align-items-center">
            <img src="/uploads/avatars/<%= otherUser.profilePicture %>" alt="Avatar" width="40" height="40"
                class="rounded-circle me-3">
            <h5 class="mb-0">
                <%= otherUser.username %>
            </h5>
        </a>
    </div>

    <div id="message-container" class="flex-grow-1 p-3" style="overflow-y: auto; height: 60vh;"
        data-conversation-id="<%= conversationId%>" data-user-id="<%= user._id.toString() %>">

        <% if(messages && messages.length> 0) { %>
            <% messages.forEach(message=> { %>
                <%- include('partials/_messageBubble', { message: message, user: user }) %>
                    <% }) %>
                        <% } else { %>
                            <p id="no-message-placeholder" class="text-center text-muted">Belum ada pesan. Mulai
                                percakapan!</p>
                            <% } %>
    </div>

    <div class="p-3 border-top bg-white">
        <form id="chat-form">
            <div class="input-group">
                <input type="text" id="message-input" name="content" class="form-control" placeholder="Ketik pesan..."
                    required autocomplete="off">
                <button class="btn btn-primary" type="submit">Kirim</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="editMessageModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Pesan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-message-form">
                    <div class="mb-3">
                        <label for="editMessageInput" class="form-label">Pesan:</label>
                        <textarea class="form-control" id="editMessageInput" rows="3" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary" id="save-edit-btn">Simpan Perubahan</button>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js" defer></script>